<!-- Template -->
		<script  id="tmpl-my-awesome-template" type="text/template">
		 <div class="media-modal wp-core-ui">
			<button type="button" class="button-link media-modal-close"><span class="media-modal-icon"><span class="screen-reader-text">Close media panel</span></span></button>
			<div class="media-modal-content"><div class="edit-attachment-frame mode-select hide-menu hide-router">
			<!--
		<div class="edit-media-header">
			<button class="left dashicons  disabled"><span class="screen-reader-text">Edit previous media item</span></button>
			<button class="right dashicons"><span class="screen-reader-text">Edit next media item</span></button>
		</div>
		-->
		<div class="media-frame-title"><h1>WP Email Delivery Domain Verification</h1></div>
		<div class="media-frame-content"><div tabindex="0" data-id="11" class="attachment-details save-ready">
		<div class="attachment-media-view landscape">
			<div style="padding: 16px;">
		<br>
		Your domain is being Verified.
		</div>
		</div>
		<div class="attachment-info">
			<span class="settings-save-status">
				<span class="spinner"></span>
				<span class="saved">Saved.</span>
			</span>
			

			

		</div>
	</div></div>
	</div></div>
		</div>
		</script>
		<!-- End template -->